body{
	font-family:"Microsoft Yahei","SimSun";
	color:#000;
	font-size:16px;
}

input{-webkit-appearance:none;}

a{
	color:#000;
}

a:hover{
	text-decoration:none;
}

h1,h2,h3,h4,h5{
	overflow:hidden;
	font-weight:normal;
}

img{
	width:100%;
	display:block;
}

.page{
	position:fixed;
	width:100%;
	height:100%;
	background-size:100% 100%;
}

#page1{
	background-image:url(../images/page1-bg.jpg?v=2017101615);
}

#page1 .topic1,#page1 .topic2,#page1 .topic3,#page1 .topic4{
	position:absolute;
	width:75%;
	left:12.5%;
	background-size:100% 100%;
}

#page1 .topic1{
	height:11.3%;
	top:23.8%;
	background-image:url(../images/page1-topic1.png?v=20171111);
}

#page1 .topic2{
	height:7.84%;
	top:35.7%;
	background-image:url(../images/page1-topic2.png?v=20171111);
}

#page1 .topic3{
	height:7.84%;
	top:44.6%;
	background-image:url(../images/page1-topic3.png?v=20171111);
}

#page1 .topic4{
	height:13.5%;
	top:54.6%;
	background-image:url(../images/page1-topic4.png?v=20171111);
}

.arrow{
	position:absolute;
	width:100%;
	left:0px;
	bottom:7.4%;
	height:4.86%;
	background:url(../images/arrow.png?v=20171111) no-repeat center top;
	background-size:auto 100%;
}

#page2{
	background-image:url(../images/page2-bg.jpg?v=201710);
}

#page2 .btn{
	position:absolute;
	width:72%;
	left:14%;
	top:73%;
}


#page2 .tab{
	position:absolute;
	text-align:center;
	width:100%;
	top:32.7%;
	left:0%;
	height:7.64%;
}

#page2 .tab a{
	display:inline-block;
	width:22%;
	height:100%;
	background-size:auto 100%;
	background-position:center top;
	background-repeat:no-repeat;
}

#page2 .tab .circle1{ background-image:url(../images/page2-tab1a.png); }
#page2 .tab .circle2{ background-image:url(../images/page2-tab2a.png); }

#page2 .tab .circle1.on{ background-image:url(../images/page2-tab1b.png); }
#page2 .tab .circle2.on{ background-image:url(../images/page2-tab2b.png); }

#page3{
	background-image:url(../images/page3-bg.jpg);
}

#page3 .btn{
	position:absolute;
	width:43.75%;
	left:28.125%;
	top:85.2%;
}

#page3 .box1{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:41.67%;
	background:url(../images/page3-box1.png);
	background-size:100% 100%;
	z-index:9;
}

#page3 .box2{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:41.67%;
	background:url(../images/page3-box2.png);
	background-size:100% 100%;
	z-index:1;
}

#page3 .box3{
	position:absolute;
	left:18.75%;
	top:30.75%;
	width:62.5%;
	height:50%;
	background:url(../images/page3-box3.jpg);
	background-size:100% 100%;
	z-index:5;
}

#page3 .box3 .plus{
	position:absolute;
	width:100%;
	left:0px;
	top:45%;
	height:26.6%;
	background:url(../images/page3-plus.png) no-repeat center top;
	background-size:auto 100%;
	z-index:6;
}
#page3 .box3 input{
	position:absolute;
	width:48.75%;
	height:44.8%;
	left:25.625%;
	top:34.7%;
	z-index:99;
	filter: alpha(opacity=0);
    opacity: 0;
}

#page3 .box3 .photo{
	position:absolute;
	width:48.75%;
	height:44.8%;
	left:25.625%;
	top:34.7%;
	z-index:7;
}

#page3 .box3 .photo img{
	height:100%;
}

#page3 .box3 .tab{
	position:absolute;
	width:100%;
	left:0px;
	top:84.7%;
	height:7.94%;
	text-align:center;
}

#page3 .tab a{
	display:inline-block;
	width:27.5%;
	height:100%;
	background-size:auto 100%;
	background-position:center top;
	background-repeat:no-repeat;
}

#page3 .tab .sex1{ background-image:url(../images/page3-tab1a.png); }
#page3 .tab .sex2{ background-image:url(../images/page3-tab2a.png); }

#page3 .tab .sex1.on{ background-image:url(../images/page3-tab1b.png); }
#page3 .tab .sex2.on{ background-image:url(../images/page3-tab2b.png); }


#page4{
	background-image:url(../images/page3-bg.jpg);
}

#page4 .box1{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:17.26%;
	background:url(../images/page4-box1.png);
	background-size:100% 100%;
	z-index:9;
}

#page4 .box2{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:17.26%;
	background:url(../images/page4-box2.png);
	background-size:100% 100%;
	z-index:1;
}

#page4 .box3{
	position:absolute;
	left:11.72%;
	top:10.91%;
	width:76.4%;
	height:71%;
	background:#fff;
	z-index:5;
}

#page4 .box3 .photo{
	position:absolute;
	width:93.4%;
	/*height:73.7%;  */
	left:3.3%;
	top:2.24%; 
}

#page4 .box3 .photo img{
	height:100%;
	border-radius:0.6em;
}

#page4 .box3 .bottom{
	position:absolute;
	width:100%;
	height:21.26%;
	left:0px;
	bottom:0px;
	text-align:center;
}

#page4 .box3 .bottom img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	display:inline;
}

#page4 .text{
	position:absolute;
	width:100%;
	height:1.79%;
	left:0px;
	top:83.1%;
	text-align:center;
}

#page4 .text img{
	height:100%;
	width:auto;
	display:inline;
}

#page4 .btn{
	position:absolute;
	width:29.375%;
	top:88.2%;
}

#page4 .btn1{ left:17%; }
#page4 .btn2{ right:17%; }